.nav-container {
    padding: 0% 5%;
    padding-top: 1%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .nav {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  
  .logo-part {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .logo-part img {
    height: 80%;
    width: 80%;
    object-fit: contain;
  }
  
  .search-part {
    flex-basis: 30%;
    flex-grow: 2;
    flex-shrink: 1;
  }
  
  .search-btn {
    width: 100%;
    border: 1px solid #ef4a6b;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .search-btn input {
    width: 84.5%;
    padding-left: 3%;
    font-size: 17px;
    caret-color: #ef4a6b;
    color: #ef4a6b;
  }
  
  .search-btn input::placeholder {
    color: #ef4a6b;
    font-size: 15px;
    font-weight: 500;
  }
  
  .search-btn i {
    font-size: 20px;
    background-color: #ef4a6b;
    color: #fff;
    padding: 1.4%;
    padding-left: 2%;
  }
  
  .nav-links-part {
    border: 4px solid green;
    flex-basis: 45%;
    flex-grow: 3;
    flex-shrink: 1;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin: 0px 12px;
    color: #ef4a6b;
    font-family: sans-serif, "Poppins";
    font-size: 20px;
    font-weight: 500;
  }
  
  /* Mobile version */
  
  @media (max-width: 400px) {
    .nav-container {
      /* flex-direction: column; */
      /* border: 3px solid black; */

    }
    hr{
      position: absolute;
      width: 100%;
      top:58%;
      left: 0;
      /* color: #ef4a6b; */
      border: 1px solid #ef4a6b;
    }
    .logo-part {
      /* width: 100%; */
      /* border: 2px solid black; */
      flex-basis: 20%;
      padding: 0px;
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 100%;
        width: 100%;
        margin: 0px;
      }
      /* border: 2px solid black; */
    }
    .search-part {
      /* width: 30%; */
      flex-basis: 30%;
      margin-left: 20px;
      /* border: 2px solid black; */
      
      button{
        /* border: 4px solid green; */
        display: flex;
        align-items: center;
        input{
            /* border: 3px solid red; */
            width: 75%;
            padding-top:5px ;
            padding-bottom:5px ;
            font-size: 13px;
            font-family: "Poppins";
            font-weight: 500;
        }
        input::placeholder{
            /* color: black; */
            font-size: 13px;
            font-weight: 400;
        }
        i{
            width: 25%;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 18px;
            
          
        }
      }
    }
    .nav-links-part {
      /* width: 100%; */
      /* flex-direction: column; */
      /* border: 4px solid red;  */
      margin: 5px 0px;
      padding-top: 10px;
      /* margin-top: 20px; */
      border: none;
      /* border-top: 1px solid #ef4a6b; */
      /* display: flex;    */
      /* flex-grow: 1; */
      /* flex-shrink: 1; */
      flex-basis: 100%;

      /* justify-content: space-between; */
      li{
        font-size: 12px;
        font-family: "Poppins";
        font-weight: 550;
        margin: 0px 10px;
      }

    }
  }
  
  @media (min-width: 401px) and (max-width: 700px) {
    .nav-container {
      /* flex-direction: column; */
      border: 3px solid blue;
      justify-content: space-between;
      
    }
    .logo-part {
        /* width: 100%; */
        display: flex;
        flex-basis: 40%;
        /* border: 3px solid red; */
      }
      .search-part {
        /* width: 100%; */
        flex-basis: 50%;
        margin-left: 14px;
        input{
          /* border: 3px solid black; */
          flex-basis: 70%;
          font-size: 15px;
          font-family: "Poppins";
          padding-left: 10px;
          font-weight: 410;
        }
        input::placeholder{
          /* color: red; */
          font-size: 14px;
          font-family: "Poppins",sans-serif;
          font-weight: 400;
        }
        i{
           /* border: 3px solid green; */
           font-size: 17px;
           /* padding: 10px; */
           padding-top:5px;
           padding-bottom: 5px;
           flex-basis: 20%;
        }
      }
    
      .nav-links-part {
        width: 100%;
        flex-direction: column;
      }
    }
    